.feature-section {
  width: 100%;
  background-color: var(--bg-color-light);
  padding: 6rem;

  & .title {
    font-size: 2rem;
    color: var(--dark-paragraph-color);
  }

  & h2 {
    font-size: 3.6rem;
  }

  & ul {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
  
  
    & .details{
      margin-top: 1rem;
      padding: 0 1rem;
    }

    & li{
      background-color: var(--bg-color);
      padding: 1.5rem;
      border-radius: 1rem;overflow: hidden;
    }

    & li figure{


      & figcaption{
        background:var(  --main-heading-color);
        color: var(--dark-paragraph-color);

        padding: 0.5rem 0.8rem;
        
        border-radius: 2rem;
        font-size: 1.5rem;
      }
    }
  }
}

li figure img{
  transition: 0.5s;
  
  &:hover{
    scale: 1.1;
  }
}


@media (max-width:100px) {
  .feature-section{
    padding: 3rem;
  }
}

@media (max-width:600px) {
  .feature-section{
    padding: 1rem;
  }

}