.header {
  position: sticky;
  top: 0;
  z-index: 100;
  opacity: 96%;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  background: var(--dark-bg-color);
  /* background-image: linear-gradient(to top, #361f18e8 0%, #4c271b 100%); */

  & nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    & li {
      margin-left: 4rem;
      font-weight: 450;
      position: relative;
      cursor: pointer;

      transition: 0.5s;

      &:nth-child(even):after {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0%;
        border-bottom: 0.2rem solid white;
        transition: all 0.3s linear;
      }

      &:nth-child(odd):after {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0%;
        border-bottom: 0.2rem solid white;
        transition: all 0.3s linear;
      }



      & :hover {
        color: var(--text-color-dark);
        transition: 0.5s;

      }

      font-size: 1.7rem;

      & span {
        font-size: 1.2rem;
        position: absolute;
        top: -1.1rem;
        right: -1.6rem;
        width: 25px;
        height: 25px;
        text-align: center;
        padding-top: 5px;
        background-color: var(--text-color-dark);
        color: white;
        font-weight: 600;
        border-radius: 50%;

      }
    }

    & li:nth-child(even):hover:after {
      width: 100%;
    }

    & li:nth-child(odd):hover:after {
      width: 100%;
    }


  }
}

.menu-icon {
  display: none;
  cursor: pointer;
  transition: 0.5s;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}

.logo {
  z-index: 100;
  width: 22rem;
  height: auto; 
 
}

.log{
  background: rgb(246, 146, 39);
  padding: 0.3rem 1rem;
}

.show-menu-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  background: #212EA0;

}

@media (max-width:950px) {

 .header ul {

    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    padding-top: 8rem;
    padding-right: 4rem;
    padding-left: 2rem;
    background-color: var(--dark-bg-color);
    z-index: 2;
    transition: 0.5s;

    & li {
      margin-top: 1.8rem;
    }
  }

 .header .menu-icon {
    display: block;
    z-index: 3;
  }

 .header .hide-menu {
    right: -200px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 18rem;
  }

}